name: Publish to PyPi

on:
  release:
    types: [created]

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: astral-sh/setup-uv@v7
      - run: uv build
      - run: uv publish
